// Fonts
// @import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);
// Variables
@import "variables";
// Font-Awesome
$fa-font-path: "../../../node_modules/font-awesome/fonts" !default;
@import "~font-awesome/scss/font-awesome.scss";
// Bulma
@import "~bulma/sass/utilities/initial-variables";
@import "bulma-custom";
@import "~bulma/bulma";
[v-cloak] {
    display: none;
}

.index .column .remove.button {
    float: right;
    top: 14px;
    right: 14px;
    display: none;
}

.index .column:hover .button {
    display: inherit;
}

.topic {
    .views {
        padding-left: 20px !important;
        width: 100px;
    }
    .author {
        width: 200px;
    }
    .column {
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        color: $text;
    }
    &:not(:last-of-type) {
        margin-bottom: 0 !important;
    }
    padding: 15px;
    border-bottom: 1px solid $border;
    &:first-child {
        border-top: 1px solid $border;
    }
    &:hover {
        background-color: $white-ter;
    }
}

.post {
    padding: 15px;
    border-bottom: 1px solid $border;
    &:last-child,
    .post-form & {
        border-bottom: none;
    }
    .author {
        margin-bottom: 30px !important;
        p {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
        .name {
            padding: 0 20px;
        }
    }
    .remove.button {
        position: absolute;
        right: 15px;
        z-index: 1;
        display: none;
    }
    &:hover .remove.button {
        display: inherit;
    }
}

.post-container {
    position: relative;
}